.game-area {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #e0f7fa;
  font-family: sans-serif;
}

.type-box {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 300px;
  font-size: 1.2em;
}

.falling-word {
  position: absolute;
  font-size: 1.5em;
  color: #333;
  transition: top 0.05s linear;
}

.score-button {
  position: absolute;
  bottom: 5% !important;
  left: 5%;          /* Position left at 50% of container width */
  padding: 10px 20px !important;
  text-align: center;
  font-size: 1em !important;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.score-button:hover {
  background-color: #45a049 !important;
}

.restart-button {
  position: absolute;
  bottom: 80px;
  right: 40px;
  padding: 10px 15px;
  font-size: 1em;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #0056b3;
}

.word-counter {
  position: absolute;
  top: 8%; /* Distance from the top edge */
  right: 5%; /* Distance from the right edge (opposite of timer's left position) */
  font-size: 1em;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  background-color: #1800b4;
  border: none;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}