#root {
  max-width: 1280px;
  text-align: center;
}

.game-area {
  background-color: bisque;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(221, 243, 251);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.score-button {
  position: absolute;
  bottom: 5% !important;
  left: 5%;          /* Position left at 50% of container width */
  padding: 10px 20px !important;
  text-align: center;
  font-size: 1em !important;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.score-button:hover {
  background-color: #45a049 !important;
}

.restart-button {
  position: absolute;
  bottom: 5% !important;
  right: 5%;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #4CAF50 !important;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restart-button:hover {
  background-color: #45a049 !important;
}

.results-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8); /* Dark background for the box */
  color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  z-index: 20; /* Ensure the results box is above other elements */
  width: 300px; /* Adjust the width of the results box */
}

.results-box h2 {
  font-size: 2em;
}

.results-box p {
  font-size: 1.2em;
}

.results-box button {
  margin-top: 20px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}